<nav id="menu" class="navbar">
    <div class="container-fluid">
        <div class="row">
            <ul class="nav navbar-nav navbar-left navigation">
                <li class="dropdown {% if app.request.get("_route") in ["pickDoctor", "manageAppointments", "listDocuments"] %} active {% endif %}">
                    <a href="{{ path('pickDoctor') }}" class="dropdown-toggle" data-toggle="dropdown">{{ 'Services' }} <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        {% if hasPermissions("pickDoctor") %} <li><a href="{{ path('pickDoctor') }}">{{ 'Available doctors' }}</a></li> {% endif %}
                        {% if hasPermissions("manageAppointments") %}<li><a href="{{ path('manageAppointments') }}">{{ 'Manage Appointments' }}</a></li>{% endif %}
                        {% if hasPermissions("listDocuments") %}<li><a href="{{ path('listDocuments') }}">{{ 'Patients documents' }}</a></li>{% endif %}
                    </ul>
                </li>

                {% if hasPermissions("listDoctors") %}
                	<li {% if app.request.get("_route") == "listDoctors" %}class="active" {% endif %}><a href="{{ path('listDoctors') }}">{{ 'Doctors' }}</a></li>
                {% endif %}

                {% if hasPermissions("manageAppointments") %}
                	<li {% if app.request.get("_route") == "manageAppointments" %}class="active" {% endif %}><a href="{{ path('manageAppointments') }}">{{ 'Appointments' }}</a></li>
                {% endif %}

                {% if hasPermissions("listReminders") %}
                	<li><a href="{{ path('listReminders') }}" {% if app.request.get("_route") == "listReminders" %}class="active" {% endif %}>{{ 'Reminders' }}</a></li>
                {% endif %}

{#              no idea what to put here yet #}
                {% if hasPermissions("listDocuments") %}
                	<li><a href="{{ path('listDocuments') }}" {% if app.request.get("_route") == "listDocuments" %}class="active" {% endif %}>{{ 'Documents' }}</a></li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>
