{% extends 'MainBundle:Default:index.html.twig' %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('/scripts/js/add-appointment.js') }}"> </script>
<script src="{{ asset('/scripts/js/add-rating.js') }}"> </script>
<script src="{{ asset('/scripts/js/bootstrap-select/bootstrap-select.min.js') }}"> </script>
{% endblock %}

{% block customscripts %}
<link rel="stylesheet" href="{{ asset('/scripts/css/bootstrap-select.min.css') }}" type="text/css">
{% endblock %}

{% block content %}
	{% set hideFilter = true %}
    {% include('MainBundle:Appointment:addAppointmentModal.html.twig') %}
    {% include('MainBundle:Rating:addRatingModal.html.twig') %}
    {% embed 'MainBundle:Grid:basicGrid.html.twig' %}

        {% block tableData %}
        <table class="table table-striped table-hover">

            <!-- Table Head -->
            <thead>
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Doc ID #' , 'User.userID') }}</th>
                    <th>{{ 'First name' }}</th>
                    <th>{{ 'Last name' }}</th>
                    <th>{{ 'Speciality' }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Appointments this day' , 'User.userID') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Date joined' | trans, 'User.created') }}</th>
                    <th></th>
                </tr>
            </thead>

            <!-- Table Body -->
            <tbody>
                {% for user in users %}
                <tr>
                    {% autoescape 'html' %}
                    <td>{{ user.userID}}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ 'empty' }}</td>
                    <td>{{ 'empty' }}</td>
                    <td>{{ 'empty' }}</td>
{#                     <td>{{ user.created|localizeddate('medium', 'none') }}</td>#}
                    {% endautoescape %}
                    <td>
                        {% if isDoc(app.user.roles) %}
                        	<span class="glyphicon glyphicon-list"></span>
                        {% else %}
                            <div class="dropdown">
                            {# set hover tip #}
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-list"></span></a>
                                <ul class="dropdown-menu col-md-6" role="menu">
                                    <li>
                                        <a href="{{ path("docMain", {"userID" : user.userID}) }}" class="glyphicon glyphicon-home">
                                            {{ 'Home' }}
                                        </a>
                                    </li>
                                    <li>
                                        {% set url = path("addAppointment") %}
                                        <a href class="glyphicon glyphicon-calendar" aria-hidden="true"
                                            data-url="{{ url }}"
                                            data-toggle="modal"
                                            data-data="{{ user | json_encode() }}"
                                            data-target="#makeAppointment">
                                        {{ 'Appointment' }}
                                        </a>
                                    <li>
                                        <a href class="glyphicon glyphicon-heart-empty" style="color:red" aria-hidden="true"
                                            data-userid="{{ user.userID }}"
                                            data-username="{{ user.firstName ~ ' ' ~ user.lastName }}"
                                            data-fromuser="{{ app.user.getUserID }}"
                                            data-toggle="modal"
                                            data-target="#reportDoc">
                                        {{ 'Rating' }}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% endblock %}
    {% endembed %}

{% endblock %}