<!-- Modal -->
{#  modal | not really necessary to use a modal window, but lets say this was the requirement #}
<div class="modal fade" id="reportDoc" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ 'Evaluate service: ' }}
                    <i>{{  "M.D." }} <span id="ratingMdName"></span></i>
                </h4>
            </div>
            <div class="modal-body">
                {{ form_start(ratingForm, {'attr': {'id': 'ratingForm'}}) }}
                {{ form_row(ratingForm.comment) }}
                    <div class="text-right">
                        <div class="stars starrr" data-rating="0"></div>
                    </div>
                {{ form_row(ratingForm.fromUser) }}
                {{ form_row(ratingForm.userID) }}
                {{ form_row(ratingForm.rating) }}
            </div>
            <div class="modal-footer">
            {{ form_end(ratingForm) }}
            <span id="error" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>